/* Clear formatting*/
:not(ul) {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Set default formatting */
section {
  scroll-margin-top: 5em;
}

body {
  color: #333232;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.4;
  margin: 0;
}

a {
  text-decoration: none;
}

sup {
  font-size: 0.7em;
}

h1 {
  margin: 0.3em 0;
}

/* Intro Styling */
.intro {
  background: rgba(0, 0, 0, 0.001);
  position: absolute;

  margin: auto;
  inset: 0;
  height: 550px;
  text-align: center;
}

.intro > img {
  border: solid rgba(0, 0, 0, 0.5);
  border-radius: 100%;
  position: relative;
  width: 150px;
  height: 150px;
}

.intro h1 {
  font-size: 1.5em;
  margin-bottom: 1em;
}

/* .intro h1 em {
  color: rgba(0, 0, 0, 0.75);
  font-style: normal;
} */

.intro p {
  color: rgba(0, 0, 0, 0.75);
  font-size: 0.8em;
  line-height: 1.5;
  margin: 0 1em;
}

.intro .additional {
  padding: 1em;
  font-size: 0.6em;
}

.social img {
  width: 2.2em;
  /* height: auto; */
  margin: 0.5em 0;
}

.social:hover img:not(:hover) {
  opacity: 0.75;
}

.styling button {
  background-color: #333;
  border-radius: 2em;
  color: white;
  padding: 0.6em;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
}

.styling button:hover {
  background-color: #ddd;
  color: black;
}

/* Navigation Bar Styling */
.nav {
  display: flex;
  background-color: #333;

  /* Make Navbar stay fixed on top (Position Fixed and Flexbox don't work well apparently)*/
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 100;
}

.nav a {
  color: white;
  padding: 14px 20px;
  text-decoration: none;
  text-align: center;

  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 0.05em;
}

.nav a:hover {
  background-color: #ddd;
  color: black;
}

.about-details h2 {
  font-size: 1.2em;
}

/* Content Styling */
.content {
  padding: 3em;
}

.content section {
  margin: 0.5em;
  margin-bottom: 2em;
}

.content:hover section:not(:hover) {
  opacity: 0.75;
}

.section-content {
  padding: 1.5em;
  padding-left: 2em;
}

/* Timeline Block */
.timeline-block {
  position: relative;
  padding-left: 30px;
}

.timeline-block:not(:last-of-type) {
  margin-bottom: 1em;
}

.timeline-block h2 {
  font-size: 1.2em;
  margin: 5px 0;
  /* transition: all 0.3s; */
}

.timeline-block h3 {
  font-size: 1em;
  margin: 5px 0;
  /* transition: all 0.3s; */
}

.timeline-block h4 {
  font-size: 0.9em;
  margin: 5px 0;
  font-style: italic;
  /* transition: all 0.3s; */
}

.timeline-block p {
  font-size: 0.9em;
  margin: 5px 0;
  margin-left: 1em;
}

.timeline-block > time {
  margin-left: 1em;
}

.timeline-block time {
  font-size: 0.85em;
}

/* Circle */
.timeline-block::before {
  position: absolute;
  content: "";
  width: 15px;
  height: 15px;
  background-color: white;
  border: 3px solid;
  border-radius: 50%;
  left: -10px;
  top: -5px;
}

/* Line */
.timeline-block::after {
  position: absolute;
  content: "";
  width: 3px;
  height: 100%;
  background-color: rgba(0, 0, 0, 1);
  left: -1px;
  top: 13px;
}

.timeline-block:hover h2 {
  text-shadow: 0.05em 0.05em rgba(0, 0, 0, 0.2);
  font-size: 1.3em;
}

/* Projects Styling */
.projects a {
  color: black;
}

.projects a:hover {
  font-size: 1.1em;
  text-decoration: underline;
}

.projects em {
  color: rgba(0, 0, 0, 0.5);
}

/* Skillsets Styling */
.skillsets-img img {
  padding: 0.2em;
}

.skillsets-img td {
  padding: 0 0.3em;
}

.programming-img img {
  width: 4em;
}

.skillsets-img img:hover {
  transform: scale(1.2);
}

.skillsets:hover img:not(:hover) {
  opacity: 0.75;
}

.skillsets h2 {
  font-size: 1.2em;
  margin: 0.5em 0;
}

/* .skillsets li {
  background: rgba(0, 0, 0, 0.75);
  border-radius: 5px;
  color: #fff;
  display: inline-block;
  list-style: none;
  margin: 0.5em;
  padding: 0.5em;
  text-align: justify;
}

.skillsets li:hover {
  background: #3498db;
} */

/* Interests Styling */
.interests-list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  align-content: center;
}

.interests-list > li {
  display: flex;
  flex: 1 0 0;
  align-items: center;
  justify-content: baseline;
  flex-direction: column;
  padding: 1em 0;
}

.interests-list > li > img {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
}

.interests-list > li:hover {
  transform: scale(1.2);
}

.interests-list > li > span {
  letter-spacing: 0.1em;
}

/* Footer */
.footer {
  padding: 20px;
  text-align: center;
  background: rgba(0, 0, 0, 0.25);
}

.footer:hover {
  opacity: 0.75;
}

.footer img {
  height: 2em;
  width: auto;
}

.footer a {
  color: black;
}

.footer code {
  display: block;
  line-height: 3em;
  font-size: 1em;
  bottom: 0;
}

/* Responsive Layout */
.left-side {
  position: fixed;
  float: left;

  width: 25%;
  height: 100%;

  background-color: rgba(0, 0, 0, 0.025);
  border-right: 1px solid rgba(0, 0, 0, 1);
}

.right-side {
  position: relative;
  float: right;

  width: 75%;
  height: 100%;
}

@media screen and (max-width: 60em) {
  .intro {
    font-size: 1.5em;
  }

  .right-side,
  .left-side {
    position: relative;
    /* float: none; */

    width: 100%;
    /* To split "pages" */
    min-height: 800px;
  }
}

@media screen and (max-width: 65em) {
  body {
    font-size: 1em;
  }
}

@media screen and (max-width: 50em) {
  body {
    font-size: 0.9em;
  }

  .nav {
    flex-direction: column;
    position: relative;
  }
}

/* Existing styles for light mode */
body,
.nav,
.footer {
  color: #333; /* Dark text */
}

/* Dark mode styles */
.dark-mode body,
.dark-mode .nav,
.dark-mode .footer {
  background-color: #121212; /* Dark background */
  color: #e0e0e0; /* Light text */
}

.dark-mode a,
.dark-mode .projects a {
  color: white; /* Light purple for links in dark mode */
}
