/*
SECV2223-05 PENGATURCARAAN WEB (WEB PROGRAMMING)
Web Programming Assignment 1 & 2

Name: Lai Foo Zheng
Matric No.: A21EC0040
Section: 5
*/

/* Set default formatting */
* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	background-image: url('../img/backgrounddesk.jpg');
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
	background-position: center;
	display: flex;
	justify-content: center;
	align-items: center;

	color: #333232;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 18px;
	font-weight: 400;
	/* line-height: 1.4; */
}

a {
	text-decoration: none;
}

sup {
	font-size: 0.7em;
}

h1 {
	margin: 0.3em 0;
}

ul,
ol,
li {
	list-style-type: none;
}

.container {
	position: relative;
	display: grid;
	grid-template-columns: 33.33% auto auto;
	/* min-width: 45em; */
	/* grid-template-rows: auto 1fr auto; */
	margin: 8em;
	box-shadow: 15px 35px 55px black;
	grid-template-areas: "about about about"
		"sidebar main main"
		"interests interests interests"
		"footer footer footer";
}

/* Grid Items */
.about {
	grid-area: about;
	padding: 2em;
	border: rgba(0, 0, 0, .5) solid 0.15em;
}

.main {
	grid-area: main;
	padding: 2em;
	border: rgba(0, 0, 0, .5) solid 0.15em;
}

.interests {
	grid-area: interests;
	padding: 2em;
	border: rgba(0, 0, 0, .5) solid 0.15em;
}

.sidebar {
	grid-area: sidebar;
	padding: 2em;
	border: rgba(0, 0, 0, .5) solid 0.15em;
}

.footer {
	grid-area: footer;
	padding: 10px;
}

/* Intro Styling */
.intro {
	background: rgba(0, 0, 0, .001);
	margin: auto;
	text-align: center;
	margin: 2em;
	font-size: 1.5em;
	/* inset: 0; */
	/* height: 550px; */
	/* border: #333232 solid; */
}

.intro>img {
	border: solid rgba(0, 0, 0, .3);
	border-radius: 100%;
	position: relative;
	width: 150px;
	height: 150px;
}

.intro h1 {
	font-size: 1.5em;
	margin: 1em 0;
}

.intro h1 em {
	color: rgba(0, 0, 0, .3);
	font-style: normal;
}

.intro p {
	color: rgba(0, 0, 0, .75);
	font-size: 0.8em;
	line-height: 1.5;
	margin: 0 1em;
}

.intro .additional {
	padding: 1em;
	font-size: 0.6em;
}

.social img {
	width: 2.2em;
	height: auto;
	margin: 1em 0;
}

.social:hover img:not(:hover) {
	opacity: 0.5;
}

.styling button {
	background-color: #333;
	border-radius: 2em;
	color: white;
	padding: 0.6em;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	cursor: pointer;
}

.styling button:hover {
	background-color: #ddd;
	color: black;
}

/* Navigation Bar Styling */
.nav {
	display: flex;
	background-color: #333;

	/* Make Navbar stay fixed on top (Position Fixed and Flexbox don't work well apparently)*/
	position: -webkit-sticky;
	position: sticky;
	top: 0;
	z-index: 100;
}

.nav a {
	color: white;
	padding: 14px 20px;
	text-decoration: none;
	text-align: center;

	text-transform: uppercase;
	font-weight: bold;
	letter-spacing: 0.05em;
}

.nav a:hover {
	background-color: #ddd;
	color: black;
}

/* Content Styling */
.content:hover section:not(:hover) {
	opacity: 0.5;
}

.section-content {
	padding: 1.5em;
	padding-left: 2em;
}

/* About Styling */
.about {
	text-align: center;
}

.about-details {
	margin-top: 1em;
}

/* Timeline Block */
.timeline-block {
	position: relative;
	padding-left: 30px;
}

.timeline-block:not(:last-of-type) {
	margin-bottom: 1em;
}

.timeline-block h2 {
	font-size: 1.2em;
	margin: 5px 0;
	/* transition: all 0.3s; */
}

.timeline-block h3 {
	font-size: 1em;
	margin: 5px 0;
	/* transition: all 0.3s; */
}

.timeline-block p {
	font-size: 0.9em;
	margin: 5px 0;
	margin-left: 1em;
}

.timeline-block>time {
	margin-left: 1em;
}

.timeline-block time {
	font-size: 0.85em;
}

/* Circle */
.timeline-block::before {
	position: absolute;
	content: '';
	width: 15px;
	height: 15px;
	background-color: white;
	border: 3px solid;
	border-radius: 50%;
	left: -10px;
	top: -5px;
}

/* Line */
.timeline-block::after {
	position: absolute;
	content: '';
	width: 3px;
	height: 100%;
	background-color: rgba(0, 0, 0, 1);
	left: -1px;
	top: 13px;
}

.timeline-block:hover h2 {
	text-shadow: 0.05em 0.05em rgba(0, 0, 0, .2);
	font-size: 1.3em;
}

/* Sidebar Styling */
.sidebar li {
	margin: 0.5em;
}

.sidebar section {
	margin: 1.5em 0;
}

/* Skillsets Styling */
.skillsets li {
	background: rgba(0, 0, 0, .75);
	border-radius: 5px;
	color: #FFF;
	display: inline-block;
	list-style: none;
	margin: 0.5em;
	padding: 0.5em;
	text-align: justify;
}

.skillsets li:hover {
	background: #3498db;
}

/* Projects Styling */
.projects a {
	color: black;
}

.projects a:hover {
	font-size: 1.1em;
	text-decoration: underline;
}

.projects em {
	color: rgba(0, 0, 0, .5);
}

/* Interests Styling */
.interests-list {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	align-content: center;
}

.interests-list>li {
	display: flex;
	flex: 1 0 0;
	align-items: center;
	justify-content: baseline;
	flex-direction: column;
	padding: 1em 0;
}

.interests-list>li>img {
	display: inline-flex;
	justify-content: center;
	align-items: center;
	width: 50px;
	height: 50px;
}

.interests-list>li:hover {
	transform: scale(1.2);
}

.interests-list>li>span {
	letter-spacing: 0.1em;
}

/* Footer */
.footer {
	padding: 20px;
	text-align: center;
	background: #ddd;
}

.footer:hover {
	opacity: 0.75;
}

.footer img {
	height: 2em;
	width: auto;
}

.footer a {
	color: black;
}

.footer code {
	display: block;
	line-height: 3em;
	font-size: 1em;
	bottom: 0;
}

@media screen and (max-width: 60em) {
	body {
		font-size: 1em;
	}

	.nav {
		flex-direction: column;
		position: relative;
	}

	.container {
		position: relative;
		display: grid;
		grid-template-columns: auto;
		margin: 5em;
		box-shadow: 15px 35px 55px black;
		grid-template-areas: "about"
			"main"
			"sidebar"
			"interests"
			"footer";
	}
}